<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item rounded-2 {% if page=='account' %}active{% endif %}" href="{{ url_for("account") }}">Account</a>
        </li>
        <li>
            <a class="dropdown-item rounded-2 {% if page=='edit_profile' %}active{% endif %}" href="{{ url_for("edit_profile") }}">Edit Profile</a>
        </li>
        <li>
            <a class="dropdown-item rounded-2 {% if page=='change_pass' %}active{% endif %}" href="{{ url_for("change_password") }}">Change Password</a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a href="{{ url_for('logout_from_account') }}" class="link-danger  .active dropdown-item rounded-2">Logout</a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a href="{{ url_for('delete_account') }}" class="link-danger .active dropdown-item rounded-2">Delete Account</a>
        </li>
    </ul>
</div>