{% extends "base.html" %}

{% include "carousel.html" %}

{% block content %}
    <!-- Three columns of text below the carousel -->
  
    <h2 class="text-center">Симіволіка Ліцею</h2>

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h3 class=" fw-normal lh-1"><span class="text-muted h3 text-center">Гімн</span></h3>
            <p class="h5" style="font-family:Helvetica, sans-serif ;">
                1. Кожного дня рік за роком ступаєм,<br>
                Ділячи будні на чверті,<br>
                Різноманітні науки вивчаєм,<br>
                Йдучи в шкільній круговерті. <br><br>
                Приспів: <br> 
                А ШКОЛА БЕЗ УЧИТЕЛЯ НЕМИСЛИМА,<br>
                І БЕЗ УЧНІВ ВОНА НЕ МОЖЕ ЖИТИ,<br>
                ІСНУЄ В СВІТІ ЦЕЙ ЗАКОН НЕПИСАНИЙ: <br>
                ПОТРІБНІ ДВОЄ, ЩОБ УЧИТИСЬ Й ВЧИТИ. <br><br>
                2. Школа молодшає вереснем знову, <br>
                В травні даючи путівку, <br>
                Тим, хто почне життя своє нове, <br>
                Скінчивши школярську мандрівку. <br>
                Приспів. <br><br>
                3. І де б не були ми у світі далеко, <br>
                І скільки не було б нам років, <br>
                Завжди повертаємось, ніби лелеки, <br>
                До вчителя, школи й уроків. <br>
                Приспів.
            </p>
            
        </div>
        <div class="col-md-5">
            <img style="border-radius: 15px;"  src="{{ url_for('static', filename='img/IMG_1019.jpg') }}" alt=""  width="280" class="img-fluid">
            <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

{% endblock content %}
