{% extends "base.html" %}


{% block content %}
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">


        <center>
            <div class="content">
                <div class="contact address text-center h4">
                    <p>
                        77001
                        Івано-Франківська обл. <br>
                        м. Рогатин,
                        вул. Шевченка 71а
                    </p>
                </div>
                <br>
                <div class="contact phone text-center h4">
                    <p>тел: (03435)24-3-19</p>
                </div>
                <br>
                <div class="contact email text-center h4">
                    <p>e-mail: rogschool1@ukr.net</p>
                </div>
                <br>
                <div class="contact facebook text-center h4">
                    <p>facebook: <a class="link" href="https://www.facebook.com/rogschool1">RogSchool1</a></p>
              </div>
            </div>
        </center>
            
        
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
{% endblock content %}