{% extends "base.html" %}

{% include 'carousel.html' %}

{% block content %}
<div>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="{{ url_for('static', filename='img/герої.jpg') }}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
          <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
          <h2 class="fw-normal">Герої не вмирають!</h2>
          <p>Під Мар’їнкою Покровського району на Донеччині загинув випускник 2000 р. нашого закладу...</p>
          <br>
          <p><a class="btn btn-secondary" href="{{ url_for('heros') }}">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{{ url_for('static', filename='img/630dc6cf6d32f763940632.jpg') }}" alt="" class="bd-placeholder-img rounded-circle " width="140" height="140">
          <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
          <h2 class="fw-normal">Волонтерська діяльність</h2>
          <p>Дитячі малюнки і подаруночки воїнам- це невеличкий вклад у велику справу - нашу Перемогу!</p>
          <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{{ url_for('static', filename='img/війна.png')}}" alt="" class="bd-placeholder-img rounded-circle " width="140" height="140">
          <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
          <h2 class="fw-normal">Стоп війні</h2>
          <p>Інформація про психологічну допомогу в умовах війни Івано-Франківська область</p>
          <br>
          <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>

{% include "news.html" %}

{% endblock%}