{% extends "base.html" %}

{% block content %}

<br><br>
<div class='center'>
      <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='sign-in.css') }}" rel="stylesheet">
    </head>
    <body class="text-center">
      
  <main class="form-signin w-100 m-auto">
    <form action="#" method="post">
      <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h1 class="h3 mb-3 fw-normal">Увійти</h1>
  
      <div class="form-floating">
        <input name="username" type="text" class="form-control" id="floatingInput" placeholder="Username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary my-castom-green" type="submit">Sign in</button>
    
      <p><a class="link" href="{{ url_for('sign_up') }}">Реєстрація</a></p>
    </form>
  </main>
</div>
{% endblock content %}